<%- include("header") -%>


    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <div class="item">
            <% for( var i=0 ; i < newListItems.length ; i++) { %>


                <input type="checkbox">
                <p>
                    <%= newListItems[i]  %>
                </p>

                <% } %>

        </div>

        <div class="item">
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" id="" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" , value="<%=listTitle%>">+</button>
            </form>

        </div>

    </div>

    <%- include("footer") -%>